@model FlightBookingWeb.Areas.Admin.ViewModels.AirplaneViewModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Airplane</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AirplaneName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AirplaneName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AirplaneType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AirplaneType)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TotalSeats)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TotalSeats)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EconomySeats)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EconomySeats)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BusinessSeats)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BusinessSeats)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ManufactureYear)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ManufactureYear)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Status)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Status)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.AirplaneId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
